$shadow-0: rgba(0, 0, 0, 0.16) 0px 1px 4px;
$shadow-1: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
$shadow-2: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
$shadow-3: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
$shadow-4: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;